
	</div><!-- #content -->

	<footer id="colophon" class="site-footer" role="contentinfo">
            <?php get_sidebar( 'footer' ); ?>
		<div class="site-info">
			{% set link = '<a href="https://bolt.cm">Bolt</a>' %}
			{{ __( 'Proudly powered by %s')|replace({'%s': link})|raw  }}

			<span class="sep"> | </span>

			{% set link1 = '<a href="http://mor10.com/" rel="designer">mor10.com</a>' %}
			{% set link2 = '<a href="https://twokings.nl" rel="developer">Bob at Two Kings</a>' %}
			{{ __( 'Originally by %1, ported by %2')|replace({'%1': link1, '%2': link2})|raw  }}

		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

</body>
</html>